numpy==1.19.5
pandas
matplotlib
google-cloud-storage
tables
pytest
pyyaml
flask
seaborn
plotly
sqlalchemy
pymysql
holidays
tensorflow
scikit-learn
keras
netCDF4
git+git://github.com/pvlib/pvlib-python@1ebe7b05425dc8b3ea4b471f0eec79191cb83812#egg=pvlib
siphon
kaleido